*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: auto;
    width: 100vw;
    font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
    margin: 0;
    padding: 0;
	color: #ddd;
    background-color: #111;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

a {
	text-decoration: none;
	border-color: transparent;
	color: #ddd;
	outline: none;
	padding: 0 0 0.15em;
}

a.active,
a:hover,
a:focus {
	color: #000;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

header {
	padding: 1em;
    position: absolute;
	width: 100%;
}

header .row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

header .title {
	font-size: 1.85em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

header .github-link {
    height: 1em;
    width: 1em;
    display: inline-block;
    background-image: url(mark-github-white-128.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    border: none;
    position: relative;
    top: 5px;
    padding: 2px;
}

header a {
	border-bottom: 2px solid;
}

header .tagline {
	margin: 1em 0 0.5em;
	width: 100%;
}

header .description {
	margin: 0 0 1em 0;
	font-weight: bold;
	width: 100%;
}

.demos {
	margin: 0 0 0 auto;
}

.demo {
	display: inline-block;
	margin: 0 1em 0.5em 0;
	padding: 0 0 0.25em;
}

.not-clickable {
	pointer-events: none;
    cursor: normal;
}

@media screen and (max-width: 60em) {
	.header {
		flex-direction: column;
		align-items: flex-start;
		font-size: 0.85em;
	}
	.demos {
		width: 100%;
		margin: 1em 0 0;
	}
}

/* THEME */

/* COLOR */
body,
.demos,
a, a:visited {
    color: #DDD;
}

/* HOVER COLOR */
a.active,
a:hover,
a:focus {
    color: #fff;
}

/* BACKGROUND */
